/* CSS FILE*/

/*
Check for overflow vha background-color og ikke border

// div class="(content-type)" gir flere muligheter
// Hvis sidene skal ha forskjellige body's... rename "mainBody" til "(page)body" eller...
    så lager du en ny div/content som overskrider mainBody osv.

*/

/* NAV BAR START //////////////////////*/

/* Hvis vi vil ha sticky nav-bar
.nav {
    position: sticky;
    top:0;
} */


ul{
    list-style-type: none;
    margin: 0;
    padding: 32px;
    background-color: #FFE9CE;
    text-align: center;
}

li{
    font-size: 20px;
    display: inline-block;
}

li a{
    color: white;
    padding: 30px;
    border-radius: 12px;
    background-color: #FFBE86;
    text-decoration: none;
}

li a:hover{
    background-color: #ffa352;
}


/* NAV BAR END //////////////////////*/


/* Index Page Content START //////////////////////*/

h1{
    margin-left: 5%;
    text-align: center;
    font-size: 100px;
    color: white;
    text-shadow: 0px 0px 6px black;
}

.header {
    background-image: url("header_image_student.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFB5C2;

    margin: 0 10% 0 10%;
    justify-content: center;
    
}

.mainIntro{
    order: 1;
    width: 100%;
    padding: 2.5% 2.5%;
}

h2 a{
    text-decoration: none;
    color: white;
}

h2{
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 0px 5px black;
}
p{
    max-width: 70ch;
    font-size: 30px;
    margin: auto;
    padding: 0 5% 0 5%;
    text-align: center;
}

#ToTheTop {
    position: sticky;
    top: 100%;
    max-width: none;
    margin: 0 10% 0 10%;
    background-color: lightgray;

}
a {
    text-decoration: none;
    color: black;
}

.mainRef{
    display: flex;
    order: 2;
    width: 100%;
}


.mainAcc{
    display: flex;
    order: 3;
    width: 100%;
}

.mainAcc > .mainImg{ /*Order Change*/
    order: 2;
}

.mainTopic{
    display: flex;
    order: 4;
    width: 100%;
}

.mainFun{
    display: flex;
    order: 5;
    width: 100%;
}

.mainFun > .mainImg{ /*Order Change*/
    order: 2;
}

.mainImg{
    width: 50%;
}

.mainImg > img{
    width: 100%;
    background-color: yellow;
    height: 100%;
}

.mainContent{
    width: 50%;
    background-color: #7e92ff;
}

.footer{
    color: white;
}

/* Index Page Content END //////////////////////*/

/* Reflection Page Content START //////////////////////*/

.refBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.refImg1{
    order: 1;
}

.refImg2{
    order: 3;
}

.refContent{
    order: 2;
    width: 100%;
}

/* Reflection Page Content END //////////////////////*/



/* Accessibility Page Content START //////////////////////*/

/* Accessibility Page Content END //////////////////////*/



/* Topical Page Content START //////////////////////*/

/* Topical Page Content END //////////////////////*/



/* Fun Page Content START //////////////////////*/

/* Fun Page Content END //////////////////////*/