/* CSS FILE*/

/*
Check for overflow vha background-color og ikke border


*/

/* NAV BAR START //////////////////////*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
}

li{
    font-size: 20px;
    display: inline;

}

li a{
    color: white;
    padding: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: gray;
    text-decoration: none;
}

li a:hover{
    background-color: aqua;
}


/* NAV BAR END //////////////////////*/


/* Index Page Content START //////////////////////*/




/* Index Page Content END //////////////////////*/




/* Reflection Page Content START //////////////////////*/

/* Reflection Page Content END //////////////////////*/



/* Accessibility Page Content START //////////////////////*/

/* Accessibility Page Content END //////////////////////*/



/* Topical Page Content START //////////////////////*/

/* Topical Page Content END //////////////////////*/



/* Fun Page Content START //////////////////////*/

/* Fun Page Content END //////////////////////*/