/* CSS FILE*/

/*
Check for overflow vha background-color og ikke border

// div class="(content-type)" gir flere muligheter
// Hvis sidene skal ha forskjellige body's... rename "mainBody" til "(page)body" eller...
    så lager du en ny div/content som overskrider mainBody osv.

*/

.footer{
    background-color: #FFBE86;
    margin: 0 10%;
}

/* UNIVERSAL CONTENT DESIGN //////////////////////*/
html {
    /*for the memes*/
    padding: 0px;
    margin: 0px;
}
main{
    padding: 0px;
    margin: 0px;
    
}


body{
    font-family: Helvetica;
    background-image: url("header_image_student.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fcdc64;
    max-width: 100%;
}

h1{
    margin-left: 5%;
    text-align: center;
    font-size: 100px;
    color: white;
    text-shadow: 0px 0px 6px black;
}

 a{
    text-decoration: none;
    color: white;
}

h2{
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 0px 5px black;
    color: white;
}
.images {
    display: flex;
    justify-content: center;
}
/*
img {
    width: 70%;
}
*/

/* UNIVERSAL CONTENT DESIGN//////////////////////*/


/* NAV BAR START //////////////////////*/


.nav {
    position: sticky;
    top:0;
} 

ul{
    list-style-type: none;
    margin: 0.2% 10% 0;
    padding: 32px 0px;
    background-color: #FFE9CE;
    text-align: center;
    border-radius: 20px;
}

li{
    font-size: 30px;
    display: inline-block;
    
}

li a{
    color: black;
    padding: 1em;
    

    border-radius: 20px;
    background-color: #FFBE86;
    text-decoration: none;
}

li a:hover{
    background-color: #ffa352;
    color: white;
}

/* NAV BAR END //////////////////////*/


/* Index Page Content START //////////////////////*/

.header {


    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.mainBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    background-color: #FFB5C2;
    margin: 0.2% 10% 0 10%;
    width: 80%;
    border-radius: 20px;
    

}

.mainIntro{
    order: 1;
    width: 100%;
    padding: 2.5% 2.5%;
}

.pIndex{
    max-width: 70ch;
    font-size: 20px;
    margin: auto;
    padding: 0 5% 0 5%;
    text-align: center;
}

#ToTheTop {
    position: sticky;
    max-width: none;
    width: 70%;

    padding: 0 5% 0 5%;
    text-align: center;
    font-size: 20px;
    background-color: #FFBE86;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 1%;
}
a {
    text-decoration: none;
    color: black;
}
.skip-to-content{
    position: absolute;
    transform: translateX(-400%);
}

.mainRef{
    display: flex;
    order: 2;
    width: 100%;
}


.mainAcc{
    display: flex;
    order: 3;
    width: 100%;
}

.mainAcc > .mainImg{ /*Order Change*/
    order: 2;
}

.mainTopic{
    display: flex;
    order: 4;
    width: 100%;
}

.mainFun{
    display: flex;
    order: 5;
    width: 100%;
    border-radius: 20px;
}

.mainFun > .mainImgR{ /*Order Change*/
    order: 2;
}


.mainImg{
    width: 50%;   
}



.mainImg > img{
    max-width: 100%;
    background-color: yellow;
    height: 100%;
}
.mainImgL{
    width: 50%;
}
.mainImgL > img{
    width: 100%;
    height: 100%;
    background-color: yellow;
    border-radius: 20px 0 0 0;
}

.mainImgR{
    width: 50%;
}

.mainImgR > img{
    width: 100%;
    background-color: yellow;
    height: 100%;
    border-radius: 0 0 20px 0;
}

.mainContent{
    width: 50%;
    background-color: #0d7792;
}
.mainContentL{
    width: 50%;
    background-color: #0d7792;
    border-radius: 0 0 0 20px;
}
.mainContentR{
    width: 50%;
    background-color: #0d7792;
    border-radius: 0 20px 0 0;
}



/* Index Page Content END //////////////////////*/

/* Reflection Page Content START //////////////////////*/

h3{
    color:#7e92ff;
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.pRef{
    max-width: 70ch;
    font-size: 20px;

}


.refBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #FFB5C2;
    border-radius: 20px;

    margin: 0.2% 10% 0 10%;
    justify-content: center;
    
}

.refImg1{
    order: 1;
}

.refImg2{
    order: 3;
}

.refContent{
    order: 2;
    width: 100%;
}

.content{
    
    padding-left: 2rem;

}
.content > p{
    text-align: left;
}

/* Reflection Page Content END //////////////////////*/



/* Accessibility Page Content START //////////////////////*/

.accContent{
    max-width: 70ch;
}

/* Accessibility Page Content END //////////////////////*/



/* Topical Page Content START //////////////////////*/

.topBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #FFB5C2;
    border-radius: 20px;

    margin: 0.2% 10% 0 10%;
    justify-content: center;
    
}

.pTop{
    max-width: 70ch;
    font-size: 20px;

}
.footerTop{

   font-size: 18px;
    
    background-color: #FFBE86;
    
    padding: 30px;
    margin: 0.2% 10% 0 10%;
    border-radius: 20px;
}

.footerTop > p > a:link{
    color: #428bff;
}
.footerTop > p > a:visited{
    color: #264f91;
}
.footerTop > p > a:hover{
    color: #000dff;
}

/* Topical Page Content END //////////////////////*/



/* Fun Page Content START //////////////////////*/

/* Fun Page Content END //////////////////////*/